.List {
    height: 100%;
    width: 100%;
    max-width: 500px;
    overflow-y: scroll;

    &-item {
        transition: 0.2s;
        &:hover, &.current {
            background-color: rgba(153, 217, 130, 0.2);
        }
    }
}
