.Messanger {
    position: fixed;
    top: 20px;
    left: 0;
    right: 0;
    z-index: 999;
    &-body {
        list-style: none;
        max-width: 1200px;
        width: 100%;
        margin: 0 auto;
        padding: {
            left: 30px;
            right: 30px;
        }
        max-width: 600px;
        display: flex;
        flex-direction: column-reverse;
    }
    &-item {
        transform: none;
        margin-bottom: 20px;

        opacity: 0;
        max-height: 0;
        margin-bottom: 0;
        transition: 0.3s;

        &.fade-enter {
            opacity: 0;
            max-height: 0;
            margin-bottom: 0;
        }
        &.fade-enter-active,
        &.fade-enter-done {
            opacity: 1;
            max-height: 60px;
            margin-bottom: 20px;
            transform: translateY(10px);
        }

        &.fade-exit {
            opacity: 1;
            max-height: 60px;
            margin-bottom: 20px;
        }
        &.fade-exit-active {
            opacity: 0;
            max-height: 0;
            margin-bottom: 0;
            transform: translateY(30px);
        }

        // &.fade-enter-active,
        // &.fade-exit-active {
        //     transition: 0.3s;
        // }
        // &.fade-enter,
        // &.fade-enter-active {
        //     opacity: 0;
        //     max-height: 0;
        //     margin-bottom: 0;
        // }
        // &.fade-enter {
        //     transform: translateY(-30px);
        // }
        // &.fade-exit-active {
        //     transform: translateY(10px);
        // }
        // &.fade-exit,
        // &.fade-exit-active {
        //     opacity: 1;
        //     max-height: 60px;
        //     transform: none;
        //     margin-bottom: 20px;
        // }
    }
    &-text {
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
        font-size: 20px;
        text-align: center;
        border-radius: 50px;
        padding: 0 15px;
        margin: 0;
        line-height: 60px;
        color: $color-white;

        &.warning {
            background-color: #cc8766;
        }
        &.success {
            background-color: $color-sub;
        }
        &.info {
            background-color: #8feef7;
        }
    }
}
