.GuestLayout {
    background-color: $color-main;
    height: 100%;

    &-body {
        @include outerBody;
    }

    &-header {
        border-bottom: 2px solid $color-sub;

        &-body {
            padding: 13px 0;
            @include outerBody;
            display: flex;
            justify-content: flex-start;
        }

        &-logo {
            width: 111px;
        }
    }

}