.DashboardProjectView {
    height: 100%;
    display: flex;

    &-tasks {
        height: 100%;
        width: 300px;
        margin-right: 25px;
    }

    &-chats {
        height: 100%;
        flex-grow: 1;
        margin-right: 25px;
    }

    &-info {
        height: 100%;
        width: 450px;
        flex-shrink: 0;
    }
    &-detail {
        margin-bottom: 25px;
    }

    &-detail,
    &-menbers {
        transition: 0.3s;
    }

    @include tablet {
        &-chats {
            display: none;
        }
    }
}
