.SelectMenberFromTeam {
    &-body {
        background-color: $color-white;
        border-radius: 25px;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 350px;
    }

    &-users,
    &-teams {
        width: 50%;
        height: 100%;
        overflow-y: scroll;
        padding: 10px 0;
    }
    &-teams {
        border-right: 2px solid $color-main;
    }

    &-item {
        padding: 0 10px;
        transition: 0.3s;
        &:hover {
            background-color: rgba(153, 217, 130, 0.3);
        }
    }
    &-teams &-item {
        cursor: pointer;
    }

    &-button {
        margin-top: 10px;
        display: flex;
        justify-content: flex-end;
    }
}
