.DetailTitle {
    width: 100%;
    max-width: 450px;
    height: 50px;
    position: relative;

    &-body {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 200;
        background-color: #99d982;
        padding: 0 20px;
        border-radius: 25px;
        height: 50px;
        overflow-y: hidden;
        &.open-enter {
            height: 50px;
        }
        &.open-enter-active {
            height: 321px;
            transition: 0.3s;
            @include box-shadow;
        }
        &.open-enter-done,
        &.open-exit {
            height: 321px;
            @include box-shadow;
        }
        &.open-exit-active {
            height: 50px;
            transition: 0.3s;
        }
    }

    &-header {
        @include font-jp;
        font-size: 20px;
        line-height: 27px;
        font-weight: bold;
        color: $color-white;
        padding: 11px 0 12px 0;

        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
    }
    &-gear {
        cursor: pointer;
        height: 27px;
        width: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        &:hover {
            transform: rotate(-45deg);
        }
    }

    &-menu {
        padding-bottom: 27px;
    }

    &-item {
        padding: 10px 0;
        border-bottom: 1px solid $color-white;
        &:last-child {
            border: none;
        }
    }
}
