.ProjectTeams {
    height: 100%;

    &-body {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        height: 100%;
    }

    &-users,
    &-teams {
        width: 50%;
        height: 100%;
        overflow-y: scroll;
        padding: 10px 0;
    }
    &-teams {
        border-right: 2px solid $color-main;
    }

    &-item {
        padding: 0 10px;
        transition: 0.3s;
        &:hover,
        &.current {
            background-color: rgba(153, 217, 130, 0.3);
        }
    }
    &-teams &-item {
        cursor: pointer;
    }

    &-teaminfo {
        position: fixed;
        transform: translate(-50%, 0);
        display: none;
        opacity: 0;

        &.fade-enter {
            display: block;
            opacity: 0;
        }
        &.fade-enter-active,
        &.fade-enter-done {
            transition: 0.3s;
            display: block;
            opacity: 1;
            transform: translate(-50%, -10px);
            z-index: 200;
        }
        &.fade-exit,
        &.fade-active {
            transition: 0.3s;
            z-index: 200;
            display: block;
        }
    }
}
