// colors
$bg-white: white;
$bg-light:  #ececec;
$bg-dark: #122f3d;
$bg-transparent-gray: rgba(18, 47, 61, 0.5);
$bg-thin-transparent-gray: rgba(18, 47, 61, 0.2);
$bg-transparent-white: rgba(255, 255, 255, 0.3);
$dark-white: #aaa;


// text color
$text-light: #ececec;
$text-dark: #122f3d;
$text-transparent-gray: rgba(18, 47, 61, 0.5);
$text-transparent-white: rgba(255, 255, 255, 0.3);
$text-blue: #1e90ff;
$text-warning: #F7A79C;
$text-success: #C4F7C1;
$text-info: #8FEEF7;
$text-green: #45CC54;


// break points
$mobile-max: 450px;
$tablet-max: 830px;
$desktop-max: 1200px;


$footer-widget-max-width: 300px;
