// colors
$color-main: #90CC7A;
$color-sub: #A2E68A;
$color-white: #ECF4E9;
$color-black: #5F665C;
$color-transparent-gray: #5F665C;


// break points
$mobile-max: 450px;
$tablet-max: 830px;
$desktop-max: 1200px;
