// colors
$color-main: #90cc7a;
$color-sub: #a2e68a;
$color-lightgreen: #99D982;
$color-white: #ecf4e9;
$color-black: #5f665c;
$color-transparent-black: rgba(95, 102, 92, 0.6);
$color-warning: #cc8766;

// break points
$mobile-max: 450px;
$tablet-max: 830px;
$desktop-max: 1200px;
