.InfoTitleWrapper {
    width: 100%;
    height: 50px;
    position: relative;

    &-body {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        z-index: 200;

        background-color: #99d982;
        padding: 0 20px;
        border-radius: 25px;
        overflow-y: hidden;

        transition: 0.3s;
        &.close-enter-active,
        &.close-enter-done,
        &.close-appear,
        &.close-appear-active {
            height: 50px !important;
        }
        &.close-exit-active,
        &.close-exit-done {
            @include box-shadow;
        }
    }

    &-header {
        @include font-jp;
        font-size: 20px;
        line-height: 27px;
        font-weight: bold;
        color: $color-white;
        padding: 11px 0 12px 0;

        margin-bottom: 8px;
        display: flex;
        justify-content: space-between;
    }
    &-title {
        width: calc(100% - 27px);
        @include text-ellipsis;
    }
    &-gear {
        cursor: pointer;
        height: 27px;
        width: 27px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
        &:hover {
            transform: rotate(-45deg);
        }
    }
    &-menu {
        padding-bottom: 20px;
    }
}
