.TeamAddUserModal {
    padding: 20px;
    background-color: #99d982;
    border-radius: 35px;
    width: 90vw;
    max-width: 500px;
    overflow: hidden;
    position: relative;

    &-title {
        @include font-en;
        color: $color-white;
        font-size: 20px;
        font-weight: bold;
        line-height: 23px;
        margin-bottom: 20px;
    }

    &-text {
        @include font-en;
        font-size: 15px;
        color: $color-white;
        line-height: 17px;
        margin-bottom: 10px;
    }

    &-choose {
        margin-top: 30px;
    }
}
