.RootTasks {
    height: 100%;
    max-width: 500px;
    position: relative;

    &-button {
        transition: 0.2s;
        pointer-events: none;
        opacity: 0;
        position: absolute;
        right: 15px;
        bottom: 0px;
    }
    &:hover {
        .RootTasks-button {
            opacity: 1;
            pointer-events: initial;
            bottom: 5px;
        }
    }
}
