.TeamMembersList {
    @include DashboardWhiteArea;
    max-width: 700px;
    padding: 20px;
    height: 100%;
    &-body {
        height: 100%;
    }

    &-control {
        padding: 15px 10px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: 2px solid $color-main;
        margin-bottom: 20px;
    }
    &-create {
        &-button {
            cursor: pointer;
            color: $color-main;
            font-size: 30px;
            line-height: 40px;
        }
    }
}
