.ChangePasswordForm {
    &-title {
        @include font-en;
        font-size: 20px;
        color: $color-white;
        line-height: 23px;
        margin-bottom: 15px;
    }

    &-form {
        &-row {
            margin-bottom: 10px;
            &:last-of-type {
                margin-bottom: 20px;
            }
        }
    }
}
