.PreviewLink {
    background-color: $color-lightgreen;
    border-radius: 25px;
    color: $color-white;
    @include font-jp;
    padding: 20px 30px;
    max-width: 290px;
    display: block;
    transition: 0.3s;

    &:hover {
        background-color: $color-sub;
    }

    &-name {
        @include text-ellipsis;
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 10px;
        font-weight: bold;
    }

    &-content {
        @include text-ellipsis(2);
        font-size: 13px;
        line-height: 18px;
        margin-bottom: 10px;
    }
}
