.TeamMenbersSelector {
    height: 100%;
    overflow-y: scroll;

    &-item {
        cursor: pointer;
        transition: 0.3s;
        &:hover,
        &.selected {
            background-color: rgba(153, 217, 130, 0.3);
        }
        &.exclude {
            cursor: initial;
            pointer-events: none;
            opacity: 0.5;
            &:hover {
                background-color: initial;
            }
        }
    }
}
