.NavLink {
    display: inline-block;
    height: 50px;
    position: relative;
    color: $color-black;
    fill: $color-black;
    &-body {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 30px;
        line-height: 30px;
        transition: 0.3s;
    }
    &-text {
        position: absolute;
        bottom: 0;
        right: 50%;
        transform: translateX(50%);
        opacity: 0;
        transition: 0.3s;
        font-weight: bold;
        font-size: 13px;
        line-height: 15px;
        color: $color-sub;
    }
    &.greenBack &-text {
        color: $color-white;
    }

    &:hover,
    &.current {
        fill: $color-sub;
        color: $color-sub;
        &.greenBack {
            fill: $color-white;
            color: $color-white;
        }
        .NavLink-body {
            padding-bottom: 20px;
        }
        .NavLink-text {
            opacity: 1;
        }
    }
}
