.infoBlock {
    @include innerBody;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: $color-white;
    flex-grow: 1;
    flex-shrink: 1;
    border-radius: 5px;
    color: $color-black;
    position: relative;

    &-body {
        display: flex;
        flex-direction: column;
        height: 100%;
    }
}