.projectView {
    height: 100%;

    &-body {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .ProjectTasks {
        width: fit-content;
        // max-width: 350px;
        flex-shrink: 0;
        flex-grow: 0;
        min-width: 200px;
        height: 100%;
        margin-right: 10px;
    }

    .ProjectChats {
        width: 25%;
        max-width: 450px;
        min-width: 300px;
        height: 100%;
        margin-right: 10px;
    }

    .ProjectInfo {
        width: 700px;
        height: 100%;
        flex-grow: 1;
        flex-shrink: 1;
        display: flex;
        flex-direction: column;

        .ProjectDetail {
            margin-bottom: 10px;
        }
    }



    .react-tabs {
        height: 100%;

        &__tab-panel {
            height: calc(100% - 100px);
            overflow-x: scroll;
        }

        .ProjectChats {
            height: 100%;
        }

        .ProjectInfo {
            width: 100%;
        }

        .ProjectDetail {
            &-body {
                padding: 10px;
            }
        }
    }
}