.projectView {
    height: 100%;

    &-body {
        height: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .taskList {
        flex-shrink: 0;
        background-color: $color-white;
        width: 230px;
        height: 100%;
        border-radius: 5px;
        overflow-y: scroll;
        padding: 0 7px;
        box-sizing: border-box;
        margin-right: 10px;

        &-body {
            padding: 14px 0;
        }

        &-item {
            border-bottom: 1px solid $color-main;
            font-size: 15px;
            line-height: 2.5;
            display: flex;
            justify-content: flex-start;
            align-items: center;

            &-status {
                display: flex;
                justify-content: center;
                align-items: center;
                margin-right: 7px;
            }

            &:last-child {
                border: none;
            }
        }
    }


    .chatList {
        flex-shrink: 0;
        background-color: $color-white;
        width: 300px;
        height: 100%;
        border-radius: 5px;
        padding: 0 15px;
        box-sizing: border-box;
        margin-right: 10px;

        &-wrap {
            height: calc(100% - 105px);
            overflow-y: scroll;
        }

        &-body {
            padding: 14px 0;
        }

        &-item {
            position: relative;
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            margin-bottom: 30px;

            &-icon {
                width: 60px;

                &-circle {
                    height: 40px;
                    width: 40px;
                    border-radius: 40px;
                    background-color: green;
                }
            }

            &-author {
                font-size: 15px;
                line-height: 1;
                margin-bottom: 5px;
            }

            &-date {
                position: absolute;
                font-size: 10px;
                color: rgba(95, 102, 92, .8);
                right: 0;
                top: 0;
            }

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-form {
            border-top: 1px solid $color-main;

            &-buttons {
                height: 35px;
                display: flex;
                justify-content: flex-end;
                align-items: center;
            }

            .send {
                background-color: #90CC7A;
                // height: 15px;
                width: 42px;
                font-size: 10px;
                line-height: 15px;
                text-align: center;
                border-radius: 1px;
                color: #ECF4E9;
            }

            &-input {
                border-radius: 5px;
                border: 1px solid $color-main;
                height: 58px;
                width: 100%;
                padding: 0 7px;
                font-size: 15px;
                line-height: 20px;
                color: $color-black;

                &::placeholder {
                    color: rgba(95, 102, 92, .8);
                }
            }
        }
    }


    .projectInfo {
        background-color: $color-white;
        flex-grow: 1;
        flex-shrink: 1;
        height: 100%;
        border-radius: 5px;
        padding: 0 15px;
        box-sizing: border-box;
        color: $color-black;
        position: relative;

        &-body {
            padding: 18px 30px;
            display: flex;
            flex-direction: column;
            height: 100%;
        }

        &-title {
            font-size: 20px;
            line-height: 24px;
            margin-bottom: 30px;
            width: 100%;
        }

        &-row {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            margin-bottom: 11px;

            &-head {
                width: 105px;
            }

            &:last-child {
                margin-bottom: 15px;
            }
        }

        &-description {
            border-top: 1px solid $color-main;
            margin: 0 -15px;
            padding: 15px;
            width: 100%;
            flex-grow: 1;
        }
    }

}