.TaskDetail {
    background-color: $color-white;
    flex-grow: 1;
    flex-shrink: 1;
    height: 100%;
    border-radius: 5px;
    padding: 0 15px;
    box-sizing: border-box;
    color: $color-black;
    position: relative;

    &-body {
        padding: 18px 30px;
        display: flex;
        flex-direction: column;
        height: 100%;
    }

    &-title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 30px;
        width: 100%;
    }

    &-row {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 11px;

        &-head {
            width: 105px;
        }

        &:last-child {
            margin-bottom: 15px;
        }
    }

    &-description {
        border-top: 1px solid $color-main;
        margin: 0 -15px;
        padding: 15px;
        width: 100%;
        flex-grow: 1;
    }


    &-deleteButton {
        position: absolute;
        bottom: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
        border-radius: 50px;
        background-color: $color-main;
        display: flex;
        justify-content: center;
        align-items: center;
        color: $color-white;
        cursor: pointer;
    }

}