.RegisterForm {
    position: relative;
    .RoundedButton {
        margin-top: 15px;
    }
    .WarningText{
        display: block;
        height: 17px;
        margin-top: 5px;
    }
    .ScreenSpinner {
        border-radius: 20px;
        display: none;
        opacity: 0;
        &.fade-enter {
            display: block;
            opacity: 0;
        }
        &.fade-enter-active {
            opacity: 0.6;
            transition: opacity 300ms;
        }
        &.fade-enter-done,
        &.fade-exit {
            display: block;
            opacity: 0.6;
        }
        &.fade-exit-active {
            opacity: 0;
            transition: opacity 300ms;
        }
    }
}
