.Input {
    position: relative;
    margin-bottom: 43px;
    width: 100%;

    &-body {
        @include font-jp;
        padding: 6px 22px;
        margin-bottom: 1px;
        border-bottom: 3px solid $color-main;
        width: 100%;
        font-size: 20px;
        line-height: 27px;
        color: $color-black;
        position: relative;
        &::placeholder {
            opacity: 0.6;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 38px;
        left: 0;
        right: 0;
        height: 5px;
        background-color: $color-main;
        opacity: 0;
        transition: 0.3s;
    }
    &:has(&-body:focus)::after {
        opacity: 1;
    }

    @include mobile {
        &-body {
            padding: 6px 15px;
        }
    }
}
