.FormArea{
    position: relative;

    &-body{
        background-color: $color-white;
        padding: 40px 45px;
        border-radius: 20px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }
}