.UserMenu {
    padding: 10px 10px 15px 10px;
    background-color: #99d982;
    border-radius: 25px;
    width: 270px;

    &-info {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 10px;
        border-bottom: 2px solid $color-white;
    }
    &-icon {
        margin-right: 10px;
    }
    &-name {
        @include font-jp;
        font-size: 20px;
        color: $color-white;
        word-break: break-word;
    }

    &-control {
        padding-top: 10px;
    }
    &-role {
        margin-bottom: 20px;
        cursor: pointer;
        background-color: $color-white;
        height: 40px;
        border-radius: 20px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        @include font-en;
        font-size: 13px;
        font-weight: bold;
        &-left,
        &-right {
            transition: 0.3s;
            z-index: 1;
        }
        &-left {
            color: $color-white;
        }
        &-right {
            color: #99d982;
        }

        position: relative;
        &::after {
            content: '';
            z-index: 0;
            position: absolute;
            background-color: #99d982;
            height: calc(100% - 10px);
            width: calc(100% / 2 - 10px);
            border-radius: 20px;
            left: 5px;
            transition: 0.3s;
        }
    }
    &-role.right::after {
        left: calc(100% / 2 + 5px);
    }
    &-role.right &-role-left {
        color: #99d982;
    }
    &-role.right &-role-right {
        color: $color-white;
    }

    &-remove {
        @include font-en;
        text-align: left;
        color: $color-white;
        font-size: 13px;

        &-title {
            line-height: 15px;
            margin-bottom: 3px;
        }
        &-text {
            font-weight: 300;
            margin-bottom: 8px;
        }
        &-button {
            cursor: pointer;
            padding: 5px 15px;
            border-radius: 5px;
            line-height: 16px;
            transition: 0.3s;
            background-color: #cc8766;
            &:hover {
                background-color: #c96231;
            }
            &:disabled {
                cursor: initial;
                opacity: 0.7;
                &:hover {
                    background-color: #cc8766;
                }
            }
        }
    }
}
