.Item {
    width: 100%;
    max-width: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

    font-size: 18px;
    color: $color-black;
    @include font-jp;

    &.completed {
        color: #a2e68a;
        opacity: 0.8;
    }

    &-link {
        line-height: 43px;
        flex-grow: 1;
        padding-right: 10px;
        display: flex;
    }

    &-text {
        @include text-ellipsis;
        flex-grow: 1;
        margin-right: 5px;
    }

    &-leaf,
    &-arrow {
        color: #a2e68a;
        fill: #a2e68a;
        stroke: #a2e68a;
    }

    &-leaf {
        cursor: pointer;
        padding-right: 7px;
        padding-left: 10px;
    }
}
