.AddUserModal {
    padding: 20px;
    background-color: #99d982;
    border-radius: 35px;
    width: 90vw;
    max-width: 500px;
    overflow: hidden;
    position: relative;

    &-title {
        @include font-en;
        color: $color-white;
        font-size: 20px;
        font-weight: bold;
        line-height: 23px;
        margin-bottom: 20px;
    }

    &-text {
        @include font-en;
        font-size: 15px;
        color: $color-white;
        line-height: 17px;
        margin-bottom: 10px;
    }

    &-invitation {
        padding-bottom: 15px;
        border-bottom: 2px solid $color-white;
        &-form {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }
        &-input {
            font-size: 15px;
            color: $color-black;
            line-height: 20px;
            padding: 10px 15px;
            background-color: $color-white;
            border-radius: 20px;
            flex-grow: 1;
            margin-right: 10px;
            &::placeholder {
                color: $color-transparent-black;
            }
        }
        &-submit {
            cursor: pointer;
            color: $color-white;
            border: 2px solid $color-white;
            border-radius: 100%;
            font-size: 20px;
            line-height: 1;
            width: 40px;
            height: 40px;
            text-align: center;
            transition: 0.3s;
            &:hover {
                background-color: $color-white;
                color: #99d982;
            }
        }
    }

    &-choose {
        margin-top: 30px;
        &-button {
            margin-top: 10px;
            display: flex;
            justify-content: flex-end;
        }
    }
}
